In [92]:
import pandas as pd
import numpy as np

**Домашнее задание**

**Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def classes(movi):
    if movi.rating<=2:
        return "Low rating"
    if movi.rating>2 and movi.rating<4.5:
        return "Midle rating"
    else:
        return "High rating"
ratings['class']=ratings.apply(classes,axis=1)
ratings.head()

   userId  movieId  rating   timestamp         class
0       1       31     2.5  1260759144  Midle rating
1       1     1029     3.0  1260759179  Midle rating
2       1     1061     3.0  1260759182  Midle rating
3       1     1129     2.0  1260759185    Low rating
4       1     1172     4.0  1260759205  Midle rating

**Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [95]:
geo_logs = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}
fnd=[ '|'.join(x) for x in geo_logs.values()]
quest = pd.read_csv('keywords.csv')

for i in range(len(geo_logs)):
    quest.loc[(quest.keyword.str.contains(fnd[i])),'region'] = ''.join(list(geo_logs.keys())[i])

quest.loc[pd.isnull(quest.region), 'region']='undefined'
quest.head(24348)

                                           keyword     shows          region
0                                               вк  64292779       undefined
1                                    одноклассники  63810309       undefined
2                                            порно  41747114       undefined
3                                             ютуб  39995567       undefined
4                                        вконтакте  21014195       undefined
...                                            ...       ...             ...
24343                  по млечному пути фильм 2016     13311       undefined
24344  гуляш из говядины с подливкой рецепт с фото     12947       undefined
24345                                       ананас     13009       undefined
24346                    передать показания за газ     13646       undefined
24347             погода во владивостоке на 5 дней     13090  Дальний Восток

[24348 rows x 3 columns]

**Задание 3**
Для датафреймаlog из материалов занятия создайте столбец source_type по следующим правилам:
- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [29]:
log = pd.read_csv('visit_log.csv', sep=';')

In [77]:
def source(inpt):
    if ('yandex'or'google')  in inpt.traffic_source :
        return 'organic'
    if (('paid'or'email')  in inpt.traffic_source) and ('Russia' in inpt.region):
        return 'ad'
    if (('paid'or'email')  in inpt.traffic_source) and ('Russia' not in inpt.region):
        return 'other'
    else:
        return inpt.traffic_source
    
log['source_type'] = log.apply(source,axis=1)
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type,VAT
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic,NaN
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic,NaN
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic,NaN
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic,NaN

**Задание 4**
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:
1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [47]:
df = pd.read_csv('URLs.txt', sep=";", )
df[df.url.str.contains('\d{8}')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

**Задание 5**  
Сформулировано в конце кода ноутбука Python_12_pivot_and_str   
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [5]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [6]:
import pymystem3

ModuleNotFoundError: No module named 'pymystem3'

### Упражнение
Отфильтруйте датафрейм stats по поисковым запросам, которые содержат строку "погода в" и упоминают один из городов: Москва, Новосибирск, Краснодар.

In [31]:
stats = pd.read_csv('keywords.csv')
stats[(stats.keyword.str.contains('погода в'))&(stats.keyword.str.contains('москва|краснодар|новосибирск'))].head()

                                keyword   shows
651                 погода в краснодаре  261285
1498              погода в новосибирске  133362
2316   погода в новосибирске на 14 дней   93278
4930     погода в краснодаре на 10 дней   49354
20847    погода в новосибирске на 3 дня   15475